html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.first-cell {
    width: 50%;
    background-color: lightgreen;
}

.second-cell {
    width: 50%;
    background-color: lightpink;
}